body {
    margin: 0;
    font-family: 'Helvetica';
}

.tabs {
    width: 100%;
    height: 50px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    background: darkslateblue;
    z-index: 1;
}

.tab {
    width: 25%;
    height: 100%;
    padding: 15px;
    color: white;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 5px solid transparent;
    box-sizing: border-box;
}

.tab:hover {
    color: white;
    border-bottom: 5px solid white;
}

.tab.selected {
    color: yellow;
    border-bottom: 5px solid yellow;
}

.content {
    flex-wrap: wrap;
    margin-top: 50px;
}

.news-item {
    width: 100%;
    height: calc((100% - 50px)/3);
    padding: 10px;
    color: white;
    overflow: hidden;
    text-shadow: 0 0 10px #000;
    background-position: 50% 50%;
    background-size: cover;
    box-sizing: border-box;
    box-shadow: 0 0 7px yellow;
    position: relative;
}

.news-source {
    padding-top: 10%;
}

.news-date,
.news-source {
    font-size: 10px;
    color: yellow;
}

.news-author,
.news-source {
    margin: 0;
}

.news-author {
    float: left;
}

a {
    color: white;
    text-decoration: none;
}

h2 {
    font-size: 18px;
}

.preloader {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: yellow;
    background: darkslateblue;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
}

.msg {
    text-shadow: 0 0 7px yellow;
}

.loader {
    -webkit-animation: rotating 1.5s linear infinite;
}

@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}